.carNumber {
    position: relative;

    &__number {
        position: absolute;
        top: 1px;
        right: 8px;
        font-weight: 500;
        font-family: SF-Compact-Display-Medium, sans-serif;
        font-size: 25px;
        font-style: normal;
        line-height: 30px;
        letter-spacing: 0;
        text-align: left;
        color: #4c4c4d;
    }
    &__typeOfCar {
        font-style: normal;
        font-weight: 500;
        font-size: 9px;
        line-height: 11px;
        color: #8d9cb7;
    }
}
