.initiateButton {
    width: 123px;
    height: 29px;
    background: #36415b;
    opacity: 0.5;
    font-family: SF-Pro-Display, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: none;
    color: #c4cfdd;
    box-shadow: 0px 10px 0px -4px #2d3751, 0px -10px 0px -4px #2d3751,
        0px 0px 0px 5px #dca95e;
    cursor: pointer;
}
